/* people-list.component.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }

  .bank-card{
    margin: 20px; /* Adjust as needed */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  }

  .full-width {
    width: 90%;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  