.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.loading-text {
  font-size: 20px;
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  margin: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bank-card {
  margin: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.bank-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
