body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-container,
.search-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  margin: 1em;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.loading-text {
  font-size: 1.2em;
}

.full-width {
  width: 100%;
}

.product-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 1em;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex; /* Ensure product card content is displayed in a column */
  flex-direction: column; /* Set content direction to column */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.quantity-selection {
  margin-top: auto; /* Align quantity selection to the bottom of the product card */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-selection input[type="number"] {
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quantity-selection button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.quantity-selection button:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}
.mat-chip {
  background-color: #df9921; /* Change the background color to your desired color */
  color: #000000;
}

.mat-chip.selected-chip {
  /* Styles for selected chips */
  background-color: #b2ebf2; /* Change the background color to your desired color */
  color: #000000; /* Change the text color to ensure readability */
}

.footer-button {
  position: fixed;
  bottom: 20px; /* Adjust this value to position the button as desired */
  right: 20px; /* Adjust this value to position the button as desired */
  z-index: 1000; /* Ensure the button is above other elements */
}

.footer-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #bab6b6;
  padding: 10px 0;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  bottom: 0; /* Ensures the footer is positioned at the bottom of the viewport */
  z-index: 1000; /* Ensure the footer is above other elements */
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #4f4e4e; /* Adjusted text color for better visibility */
  font-size: 12px; /* Adjusted font size for better readability */
}

.footer-item p {
  margin-top: 2px; /* Added margin between icon and text */
}

mat-icon {
  font-size: 24px; /* Adjusted icon size for better visibility */
}