<mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="progress-bar"></mat-progress-bar>

<div class="loading-container" *ngIf="isLoading">
  <div class="loading-text">بارگذاری کالاها ...</div>
</div>

<div class="container">
  <!-- <div class="toolbar-container">
    <mat-toolbar>
      <mat-icon (click)="goToProductCategories()">menu</mat-icon>
    </mat-toolbar>
  </div> -->


  <div class="search-bar">
    <mat-form-field appearance="outline" class="full-width">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchText" placeholder="جستجو در کالاها" aria-label="Search">
      <button mat-button *ngIf="searchText" matSuffix aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="category-chips">
      <mat-chip *ngFor="let category of productCategories" 
                [class.selected-chip]="isSelectedCategory(category.ProductCategoryId)" 
                (click)="toggleCategory(category.ProductCategoryId)">
        {{ category.Name }}
      </mat-chip>
    
      <!-- Chip to show all products -->
      <mat-chip [class.selected-chip]="showAllProducts" (click)="toggleShowAllProducts()">
        Show All Products
      </mat-chip>
    </div>
    

  </div>


  <div class="product-list-container">
    <div class="list-container" *ngIf="!isLoading && products">
      <mat-card *ngFor="let product of filteredProducts" class="product-card">
        <div class="image-wrapper">
          <img *ngIf="getProductImageUrl(product)" [src]="getProductImageUrl(product)" alt="{{ product.Name }}" class="product-image">
        </div>
        <mat-card-header>
          <mat-card-title>({{product.ProductCode}}) {{product.Name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            قیمت : {{product.price}}<br>
            موجودی 1: {{product.count1}} {{product.UnitName}}<br>
            موجودی 2: {{product.count2}} {{product.UnitName2}}<br>
          </p>
        </mat-card-content>
        <div class="quantity-selection">
          <button mat-icon-button (click)="decreaseQuantity(product)">
            <mat-icon>remove</mat-icon>
          </button>
          <input type="number" min="0" step="1" [(ngModel)]="product.quantity" class="quantity-input">
          <button mat-icon-button (click)="increaseQuantity(product)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>
      
    </div>
  </div>
</div>
