.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f4f4f4; /* Background color for the container */
}

.login-box {
  border: 1px solid gray;
}

.login-title {
  background-color: #369139; 
  padding: 13px; color: #fff; 
  display: flex; 
  justify-content: start;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.submit-button {
  margin-top: 20px; /* Adjust the margin as needed */
}

.mat-input-element {
  color: gray; /* Default text color */
}

.mat-form-field .mat-input-element {
  color: gray; /* Target the input element specifically */
}

.material-icons {
  color: #777; /* Icon color */
}