.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4; /* Background color for the container */
  border: 1px solid #ddd; /* Border */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  margin-top: 20px; /* Adjust the margin as needed */
}

.mat-input-element {
  color: gray; /* Default text color */
}

.mat-form-field .mat-input-element {
  color: gray; /* Target the input element specifically */
}

.material-icons {
  color: #777; /* Icon color */
}

::ng-deep .mat-toolbar.mat-primary  {
	background: #369139 !important;
}

