.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-card {
  margin: 1em;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex; /* Ensure product card content is displayed in a column */
  flex-direction: column; /* Set content direction to column */
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.quantity-selection {
  margin-top: auto; /* Align quantity selection to the bottom of the product card */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-selection input[type="number"] {
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quantity-selection button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.quantity-selection button:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}
