<div class="product-list-container">
    <div class="list-container" *ngIf="!isLoading">
      <mat-card class="product-card">
        <div class="image-wrapper">
          <img *ngIf="getProductImageUrl()" [src]="product.picUrl" alt="{{ product.Name }}" class="product-image">
        </div>
        <mat-card-header>
          <mat-card-title>({{product.ProductCode}}) {{product.Name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            قیمت : {{product.price}}<br>
            موجودی 1: {{ product.count1 }} <br>
            موجودی 2: {{ product.count2 }}<br>
          </p>
        </mat-card-content>
        <div class="quantity-selection">
          <button mat-icon-button (click)="decreaseQuantity()">
            <mat-icon>remove</mat-icon>
          </button>
          <input type="number" min="0" step="1" class="quantity-input">
          <button mat-icon-button (click)="increaseQuantity()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card>
      
    </div>
  </div>