.product-card {
    margin: 1em;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex; /* Ensure product card content is displayed in a column */
    flex-direction: column; /* Set content direction to column */
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
  }

  .quantity-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }
  