.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  
  
  /* Optional: Add styling for the container */
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

  .submit-button {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  .mat-input-element {
    color: gray;
  }
  .mat-form-field .mat-input-element {
    color: gray; /* Target the input element specifically */
  }
  