.drawer-toolbar {
  display: flex;
  justify-content: space-between; /* This will position items at both ends */
  align-items: center; /* Align items vertically */
  height: 64px;
}

.drawer-toolbar button {
  margin-left: 5px;
  margin-right: 5px;
}
