.drawer-toolbar {
  display: flex;
  justify-content: space-between; /* This will position items at both ends */
  align-items: center; /* Align items vertically */
  height: 64px;
  padding: 0;
  width: 100%;
}

.drawer-toolbar button {
  margin-left: 5px;
  margin-right: 5px;
}

.right-side {
  display: flex;
  justify-content: flex-start;
}

.company-info {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #88AA8B;
  border-radius: 50px;
  width: 200px;
  padding: 7px;
}