<div class="container">
    <mat-card class="card-container">
        <mat-card-header class="card-header">
            <mat-card-title>هایپر استار بهار</mat-card-title>
            <mat-card-subtitle>آقای سید محمدرضا فریدونی اصل</mat-card-subtitle>
            <mat-card-subtitle>آیت الله کاشانی - بلوار آباذر - ک شریفی - پ 3</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>ویرایش</button>
            <button mat-button>حذف</button>
          </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-container">
        <mat-card-header class="card-header">
            <mat-card-title>مزرعه مرغ طلایی</mat-card-title>
            <mat-card-subtitle>خانم سلیمانی</mat-card-subtitle>
            <mat-card-subtitle>ادرس خانم سلیمانی </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>ویرایش</button>
            <button mat-button>حذف</button>
          </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-container">
        <mat-card-header class="card-header">
            <mat-card-title>سوپر ارمغان</mat-card-title>
            <mat-card-subtitle>خانم ایکس</mat-card-subtitle>
            <mat-card-subtitle>آدرس خانم ایکس</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>ویرایش</button>
            <button mat-button>حذف</button>
          </mat-card-actions>
    </mat-card>

    <mat-card class="card-container">
        <mat-card-header class="card-header">
            <mat-card-title>سوپر ارمغان</mat-card-title>
            <mat-card-subtitle>آقای ایگرگ</mat-card-subtitle>
            <mat-card-subtitle>آأرس اقای ایگرگ</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>ویرایش</button>
            <button mat-button>حذف</button>
          </mat-card-actions>
    </mat-card>
</div>