<div class="container" [style.height.px]="manualHeight" style="width: 100%;">
  <div class="map-container">
    <!-- <app-map></app-map> -->
  </div>

  <!-- <div class="map-below"> -->
    <!-- <div class="section" style="background-color: #f0f0f0;">
      <h2>بروزرسانی اطلاعات</h2>
      <p>اینجا برای بروزرسانی اطلاعات</p>
      <button (click)="navigateToUpdateInfo()">برو به بروزرسانی اطلاعات</button>
    </div>

    <div class="section" style="background-color: #f0f0f0;">
      <h2>اطلاعات پایه</h2>
      <p>اینجا شامل اطلاعات اشخاص، کالاها و ... می‌شود.</p>
      <button (click)="navigateToBasicInfo()">برو به اطلاعات پایه</button>
    </div>

    <div class="section" style="background-color: #d0d0d0;">
      <h2>عملیات</h2>
      <p>اینجا شامل عملیات مثل ثبت فاکتور، پیش فاکتور، دریافتی و ... می‌شود.</p>
      <button (click)="navigateToOperations()">برو به عملیات</button>
    </div> -->
  <!-- </div> -->
</div>
