<div class="container">
  <div class="section" style="background-color: #f0f0f0;">
    <h2>بروزرسانی اطلاعات</h2>
    <p>بروزرسانی اطلاعات</p>
    <button (click)="navigateToUpdateInfo()">بروزرسانی </button>
  </div>

  <div class="section" style="background-color: #f0f0f0;">
    <h2>اطلاعات پایه</h2>
    <p> اطلاعات اشخاص، کالاها </p>
    <button (click)="navigateToBasicInfo()"> اطلاعات پایه</button>
  </div>

  <div class="section" style="background-color: #d0d0d0;">
    <h2>عملیات</h2>
    <p> عملیات فاکتور، پیش فاکتور، دریافتی </p>
    <button (click)="navigateToOperations()"> عملیات</button>
  </div>

  <div class="section" style="background-color: #b0b0b0;">
    <h2>گزارشات</h2>
    <p>گزارشات اشخاص ، کالاها</p>
    <button (click)="navigateToReports()"> گزارشات</button>
  </div>
</div>
