.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this value as needed for your design */
    text-align: center; /* Center text inside the container */
  
    /* Optional: Add styling for the container */
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .submit-button {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  