<!-- people-list.component.html -->
<div class="container" *ngIf="isLoading">
  <div>در حال دریافت اطلاعات از سرور ...</div> <!-- Show a loading message when isLoading is true -->
  <mat-progress-spinner [diameter]="30" mode="indeterminate"></mat-progress-spinner> <!-- Show a progress bar when isLoading is true -->
</div>

<mat-list *ngIf="!isLoading && people"> <!-- Only show the list when isLoading is false and people data is available -->
  <mat-list-item *ngFor="let person of people">
    <h3>
      {{person.Prifix}} {{person.FirstName}} {{person.LastName}}
    </h3>
  </mat-list-item>
</mat-list>
