<mat-drawer-container class="drawer-container" [style.height.px]="manualHeight">
  <mat-drawer #drawer class="drawer" mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="navigateToDashboard()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>dashboard</mat-icon>
          <span class="mat-line">داشبورد</span>
        </div>
      </a>
      <a mat-list-item (click)="navigateToUpdateInfo()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>update</mat-icon>
          <span class="mat-line">بروزرسانی اطلاعات</span>
        </div>
      </a>
      <a mat-list-item (click)="navigateToBasicInfo()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>info</mat-icon> <!-- Add your icon here -->
          <span class="mat-line">اطلاعات پایه</span>
        </div>
      </a>
      <a mat-list-item (click)="navigateToOperations()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>build</mat-icon> <!-- Add your icon here -->
          <span class="mat-line">عملیات</span>
        </div>
      </a>
      <a mat-list-item (click)="navigateToReports1()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>assessment</mat-icon> <!-- Add your icon here -->
          <span class="mat-line">گزارشات</span>
        </div>
      </a>
      <a mat-list-item (click)="navigateToReports()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>assessment</mat-icon> <!-- Add your icon here -->
          <span class="mat-line">گزارشات جدید</span>
        </div>
      </a>
      <a mat-list-item (click)="navigateTologin()" [routerLinkActive]="['active']">
        <div class="nav-item">
          <mat-icon>logout</mat-icon> <!-- Add your icon here -->
          <span class="mat-line">خروج</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar (draweClicked)="test()"></app-toolbar>
    <!-- style="margin-bottom: 3rem;" -->
    <router-outlet></router-outlet>
    <app-footer *ngIf="(utilityService.showHeaderFooter | async) == 'login' ? false : true"></app-footer>
  </mat-drawer-content>
</mat-drawer-container>