<mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
<div class="container" *ngIf="isLoading">
  <div>بارگذاری کالاها ...</div>
</div>

<div class="search-bar">
  <mat-form-field appearance="outline" class="full-width">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchText" placeholder="جستجو در کالاها" aria-label="Search">
    <button mat-button *ngIf="searchText" matSuffix aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>  
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened position="start" class="mat-side-nav">
    <mat-list>
      <mat-list-item class = "mat-list-item" *ngFor="let category of productCategories" 
                     (click)="filterByCategory(category)"
                     [style.background]="selectedCategory === category ? '#f0f0f0' : ''">
        {{ category.Name }}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="product-list-container">
      <div *ngIf="!isLoading && products" class="list-container">
        <mat-card *ngFor="let product of filteredProducts" class="product-card">
          <img *ngIf="getProductImageUrl(product)" [src]="getProductImageUrl(product)" alt="{{ product.Name }}" class="product-image"> <!-- Add *ngIf directive -->
          <mat-card-header>
            <mat-card-title>({{product.ProductCode}}) {{product.Name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              قیمت : {{product.price}}<br> <!-- Add this line -->
              موجودی 1: {{product.count1}}<br> <!-- Add this line -->
              موجودی 2: {{product.count2}}<br>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button> اطلاعات بیشتر</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
