.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-card {
  margin: 10px;
  /* Adjust as needed */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Optional: this ensures the search bar stays on top of other elements */
  background: white;
  width: 90%;
  /* Optional: this ensures the text below doesn't show when scrolling */
}

.sidenav-container{
  width: 100%;
}

.mat-side-nav{

}