.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-card {
  margin: 10px;
  /* Adjust as needed */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Optional: this ensures the search bar stays on top of other elements */
  background: white;
  width: 90%;
  margin: 10px;
  /* Optional: this ensures the text below doesn't show when scrolling */
}

.sidenav-container {
  display: flex;
  /* Adjust alignment as needed */
}

.mat-side-nav {
  width: 130px;
  /* Adjust width as needed */
}

.mat-sidenav-content {
  flex-grow: 1;
  overflow-y: auto; /* Ensure content can scroll if needed */
}

.product-card {
  margin-bottom: 20px; /* Add some bottom margin to create space between product cards */
}

.product-list-container {
  overflow-y: auto; /* Add a scrollbar when the content is too tall */
  height: 100vh; /* Adjust as needed */
}

.mat-list-item {
  font-size: 4px !important; /* Adjust as needed */
}



