
<div class="container">
    <div class="tick" [class.received]="dataStatus.banksReceived">بارگذاری بانک ها </div>
    <div class="tick" [class.received]="dataStatus.peopleReceived">بارگذاری اشخاص </div>
    <div class="tick" [class.received]="dataStatus.visitorPeopleReceived">بارگذاری اشخاص ویزیتور </div>
    <div class="tick" [class.received]="dataStatus.productsReceived">بارگذاری کالاها </div>
    <div class="tick" [class.received]="dataStatus.visitorProductsReceived">بارگذاری کالاهای ویزیتور</div>
    <div class="tick" [class.received]="dataStatus.productDetailsReceived">بارگذاری جزییات کالاها </div>
    <div class="tick" [class.received]="dataStatus.productCategoriesReceived">بارگذاری گروه کالاها</div>
    <div class="tick" [class.received]="dataStatus.photoGalleriesReceived">بارگذاری گالری تصاویر</div>
    <div class="tick" [class.received]="dataStatus.picturesReceived">بارگذاری تصاویر</div>
    <div class="tick" [class.received]="dataStatus.ordersReceived">بارگذاری فاکتورها</div>
    <div class="tick" [class.received]="dataStatus.orderDetailsReceived">بارگذاری جزییات فاکتورها</div>
    <div class="tick" [class.received]="dataStatus.missionsReceived">ماموریت ها</div>
    <div class="tick" [class.received]="dataStatus.missionDetailsReceived">جزئیات ماموریت ها</div>
    <div class="tick" [class.received]="dataStatus.propertyDescriptionsReceived">بارگذاری توضیحات ویژگیها</div>
    <div class="tick" [class.received]="dataStatus.settingReceived">بارگذاری تنظیمات</div>
    <div class="tick" [class.received]="dataStatus.extraDataReceived">بارگذاری اطلاعات افزوده</div>
    <div class="tick" [class.received]="dataStatus.ordersSent">ارسال سفارشات</div>
    <div class="tick" [class.received]="dataStatus.orderDetailsSent">ارسال جزییات سفارشات</div>
  </div>