
<div class="container">
    <div class="tick" [class.received]="banksReceived">بارگذاری بانک ها </div>
    <div class="tick" [class.received]="peopleReceived">بارگذاری اشخاص </div>
    <div class="tick" [class.received]="productsReceived">بارگذاری کالاها </div>
    <div class="tick" [class.received]="productDetailsReceived">بارگذاری جزییات کالاها </div>
    <div class="tick" [class.received]="visitorPeopleReceived">بارگذاری اشخاص ویزیتور </div>
    <div class="tick" [class.received]="ordersReceived">بارگذاری فاکتورها</div>
    <div class="tick" [class.received]="orderDetailsReceived">بارگذاری جزییات فاکتورها</div>
    <div class="tick" [class.received]="productCategoriesReceived">بارگذاری گروه کالاها</div>
    <div class="tick" [class.received]="photoGalleriesReceived">بارگذاری گالری تصاویر</div>
    <div class="tick" [class.received]="picturesReceived">بارگذاری تصاویر</div>
    <div class="tick" [class.received]="visitorProductReceived">بارگذاری کالاهای ویزیتور</div>
    <div class="tick" [class.received]="ordersSent">ارسال سفارشات ویزیتور</div>
    <div class="tick" [class.received]="orderDetailsSent">ارسال جزییات سفارشات ویزیتور</div>
  </div>