<div class="container">
  <div class="section" style="background-color: #f0f0f0;">
    <h2>اشخاص</h2>
    <button (click)="navigateToPeople()">برو به اشخاص</button>
  </div>

  <div class="section" style="background-color: #d0d0d0;">
    <h2>کالاها</h2>
    <button (click)="navigateToGoods()">برو به کالاها</button>
  </div>

  <div class="section" style="background-color: #b0b0b0;">
    <h2>بانک‌ها</h2>
    <button (click)="navigateToBanks()">برو به بانک‌ها</button>
  </div>

  <div class="section" style="background-color: #a0a0a0;">
    <h2>باز کردن اپ اندرویدی</h2>
    <button (click)="navigateToAndroid()">برو به اپ اندروید</button>
  </div>

  <div class="section" style="background-color: #a0a0a0;">
    <h2>درآمد‌ها</h2>
    <button (click)="navigateToIncomes()">برو به درآمد‌ها</button>
  </div>

  <div class="section" style="background-color: #909090;">
    <h2>طرح‌های تشویقی</h2>
    <button (click)="navigateToIncentivePlans()">برو به طرح‌های تشویقی</button>
  </div>
</div>
