<mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="progress-bar"></mat-progress-bar>

<div class="container" *ngIf="isLoading">
  <div>Loading product details...</div>
</div>

<div *ngIf="!isLoading && productDetails" class="list-container"> 

  <mat-form-field appearance="outline" class="full-width">
    <input matInput [(ngModel)]="searchText" placeholder="Search product details" aria-label="Search">
    <button mat-button *ngIf="searchText" matSuffix  aria-label="Clear" (click)="searchText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-card *ngFor="let productDetail of filteredProductDetails" class="product-detail-card">
    <mat-card-header>
      <mat-card-title>({{productDetail.ProductDetailCode}}) {{productDetail.Barcode}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Product Id: {{productDetail.ProductId}}<br>
        Properties: {{productDetail.Properties}}<br>
        Count1: {{productDetail.Count1}}<br>
        Count2: {{productDetail.Count2}}<br>
        Price1: {{productDetail.Price1}}<br>
        Price2: {{productDetail.Price2}}<br>
        Price3: {{productDetail.Price3}}<br>
        Price4: {{productDetail.Price4}}<br>
        Price5: {{productDetail.Price5}}<br>
        Discount: {{productDetail.Discount}}<br>
        Discount1: {{productDetail.Discount1}}<br>
        Discount2: {{productDetail.Discount2}}<br>
        DefaultDiscountLevel: {{productDetail.DefaultDiscountLevel}}<br>
        DiscountType: {{productDetail.DiscountType}}<br>
        DefaultSellPriceLevel: {{productDetail.DefaultSellPriceLevel}}<br>
        CustomerPrice: {{productDetail.CustomerPrice}}<br>
        Serials: {{productDetail.Serials}}<br>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>More Info</button>
    </mat-card-actions>
  </mat-card>
</div>
