<div class="container">
    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/pre_invoice.svg">
        </button>
        <span>پیش فاکتور</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/invoice.svg">
        </button>
        <span>فاکتور</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/income.svg">
        </button>
        <span>دریافتی</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/payment.svg">
        </button>
        <span>پرداختی</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/income_list.svg">
        </button>
        <span>لیست دریافتی</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/people_list.svg">
        </button>
        <span>لیست مشتریان</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/reports.svg">
        </button>
        <span>گزارشات</span>
    </div>

    <div class="icons-container">
        <button class="icons-style">
            <img src="/assets/icons/add_operation.svg">
        </button>
    </div>
</div>