@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: dana  !important;
	direction: rtl;
	margin: 0;
}
* {
	font-family: dana !important;
	direction: rtl;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

/* @media only screen and (min-width: 600px) {
	body {
	  max-width: 600px;
	  margin: 0 auto;
	}
  } */
  