@import url(fontiran.css);
@import "~leaflet/dist/leaflet.css";

/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: dana !important;
	direction: rtl;
	margin: 0;
}

* {
	font-family: dana !important;
	direction: rtl;
}

body {
	font-family: dana !important;
	direction: rtl;
	/* background-color: #cdcdcd; */
	margin: 0;
	/* height: 100dvh; */
}

::-webkit-scrollbar {
	scrollbar-width: 2px;
}

.mat-drawer-container {
	height: 100%;
}

.material-icons {
	font-family: 'Material Icons' !important;
}

.mat-toolbar.mat-primary {
	border-top: white;
	background: #369139 !important;
}

.mdc-linear-progress__bar-inner {
	border-color: #369139 !important;
}

/***** input outline 
/* ::ng-deep .mdc-text-field--focused {
  border: 2px solid #369139 !important;
} */

/* @media only screen and (min-width: 600px) {
	body {
	  max-width: 600px;
	  margin: 0 auto;
	}
  } */