.list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

mat-card {
    margin: 1em;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.mat-mdc-raised-button {
    width: 100%;
    background-color: #369139 !important;
}