<mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
<div class="loading-container" *ngIf="isLoading">
  <div class="loading-text">در حال بارگذاری سفارشات...</div>
</div>

<div class="container">
  <div class="search-container">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput #inputSearch (input)="onSearch($event)" [(ngModel)]="searchInput" placeholder="جستجو در سفارشات" aria-label="Search">
      <button mat-button *ngIf="searchInput" matSuffix aria-label="Clear" (click)="clearSearchWord()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  
  <div class="order-reports"  *ngIf="filteredData.length > 0;else emptyData">
    <app-order-card *ngFor="let data of filteredData" [orderReports]="data"></app-order-card>
  </div>
  
  <ng-template #emptyData>
   سفارشی موجود نیست
</ng-template>
</div>